.Cards {
    display: flex;
    column-gap: 65px;
    justify-content: center;
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .Cards {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    padding: 1rem 0.9rem 2.5rem;
  }
}