.Cards {
    display: flex;
    column-gap: 65px;
    justify-content: center;

      @media screen and (min-width: 320px) and (max-width: 1040px) {
    flex-direction: column;
    row-gap: 50px
      
    }

}