img {
    height: 800px;
    width: 800px;
    border-radius: 20px;
  }

h2 {
    font-size: medium;
    font-size: 50px;
}

h1 {
    font-weight: 900;
    font-size: 95px;
@media screen and (min-width: 320px) and (max-width: 1040px) {
  font-size: 72px;
}

}

.Profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
    justify-content: space-around;

@media screen and (min-width: 320px) and (max-width: 1040px) {
  flex-direction: column;
  text-align: center;
      
    }
}

.profile-img {
  @media screen and (min-width: 320px) and (max-width: 1040px) {
    height: fit-content;
    /* width: fit-content; */
      width: -webkit-fill-available;

}
}

.contact {
    text-decoration: underline;
}

.underline-only {
    display: inline-block;
    border-bottom: 2px solid #A6BBCC; /* Thickness and color of the underline */
    width: 1200px; /* Length of the underline */
    border-radius: 25px;

      @media screen and (min-width: 320px) and (max-width: 1040px) {
        display: none;      
    }
  }
  
  .About {
    display: flex;
    align-items: center;
    gap: 75px;
    justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 1040px) {
    flex-direction: column;
      
    }

  }

  .About-desc {
    display: flex;
    align-content: center;
    /* padding-left: 230px;
    padding-right: 230px; */
  }

  .MySkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      @media screen and (min-width: 320px) and (max-width: 1040px) {
        text-align: center;      
    }

  }

  .Logo {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
  }

.Logo-1 {
    display: flex;
    column-gap: 105px;

  @media screen and (min-width: 320px) and (max-width: 1040px) {
    flex-direction: column;
    gap: 50px
      
    }
}

.Logo-2 {
    display: flex;
    column-gap: 105px;

      @media screen and (min-width: 320px) and (max-width: 1040px) {
    flex-direction: column;
        gap: 50px

      
    }

}