* {
  background-color: #000000;
  color: #A6BBCC;

}
.flex {
  padding: 75px;

  @media screen and (min-width: 320px) and (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.underline-only {
    @media screen and (min-width: 320px) and (max-width: 1040px) {
      display: none;
    }
}